.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  text-align: center;
}
#search {
  width: 25%;
  height: 30px;
  margin: 10px;
}
#filter {
  width: 25%;
  height: 30px;
  margin: 10px;
}
#confirmBtn{
  width: 100%;
  height: 30px;
  margin: 10px;
  margin-bottom: 20px;
}
::-webkit-input-placeholder {
  text-align: center;
}
.column {
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
}
.searchAndFilter{
  text-align: center;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
